<div class="container">
  <h1>Better Call Saul</h1>
  <p><i class="fas fa-tv"></i> Temporadas: <%= @mayor %></p>
  <% @seasons.each do |season| %>
    <p><a href="/better/<%= season %>">Temporada <%= season %></a></p>
  <% end %> 
</div>